{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="title">
            {{ article.title }}
        </div>
        <div class="hero">
            {{ article.content }}
        </div>
    </div>
{% endblock %}